#container{
	width: 960px;
	height: 700px;
	margin: auto;
	font-size: 0;
}
#header{
	width: auto;
	height: 120px;
	background-color: #F2F2F2;
}
#main_content{
	width: auto;
	height: 580px;
	background-color: black;
}
#main_content_1{
	display: inline-block;
	width: 370px;
	height: 250px;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 15px;
	background-color: #2E9AFE;
}
#main_content_2{
	display: inline-block;
	width: 514px;
	height: 250px;
	background-color: yellow;
}
.bottom{
	width: 212px;
	height: 250px;
	background-color: yellow;
	display: inline-block;
	margin-top: 20px;
	margin-right: 17px;
	margin-bottom: 20px;
}
#main_content_3{
	margin-left: 30px;
}